.Searcher {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    &__type {
        margin-right: 20px;
@media screen and (max-width: 480px) {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 480px) {
    flex-wrap: wrap;
    }
}